*
{
    margin: 0;
    padding: 0;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#eef21e,#da09fd);

}

.box
{
    display: flex;

}

.box .eye
{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
     box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                    inset 0 0 15px rgb#eef21e
                    inset 0 0 25px rgb#eef21e;
}

.box .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
}